[2020-01-10 14:49] xtuchyna opened #7 "Kebechet assignment to this project"
In order to be this repository automatically published as a python module, I want to assign Kebechet to this project.

[2020-01-10 16:09] #7 closed

[2020-01-21 12:18] sesheta opened #22 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 092fce78d36ce50174783dea4371770c88c78002.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-01-21 14:02] sesheta commented on #22
Closing this issue as it is no longer relevant for the current master with SHA 092fce78d36ce50174783dea4371770c88c78002.

[2020-01-21 14:02] #22 closed

[2020-01-21 16:11] xtuchyna opened #24 "New minor release"

[2020-01-21 17:00] #24 closed

[2020-01-21 17:04] fridex commented on #24
@xtuchyna @pacospace note [the release failed](https://managesf.thoth-station.ninja/logs/bb/bbc195ab90d4d6fa20a28cc24e8fb185b6f4c6a9/release/upload-pypi-sesheta/8bd5113/ara-report/result/e4aa6046-c8c2-408e-ac9e-5df8a81570b9/):

[code]

[2020-01-21 20:00] xtuchyna opened #27 "New minor release"

[2020-01-21 20:58] #27 closed

[2020-01-22 10:31] xtuchyna opened #30 "New patch release"

[2020-01-22 11:20] #30 closed

[2020-01-22 15:27] xtuchyna opened #34 "New patch release"

[2020-01-22 16:44] #34 closed

[2020-01-23 03:10] sesheta opened #36 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 6a9b47e7b0a538c41bb7e441a8ba15245d91c71c.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-01-23 03:48] sesheta commented on #36
Closing this issue as it is no longer relevant for the current master with SHA 6a9b47e7b0a538c41bb7e441a8ba15245d91c71c.

[2020-01-23 03:48] #36 closed

[2020-01-27 13:47] sesheta opened #39 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 7f3e313f8cb76300964c076a530339a461811056.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-01-27 14:58] sesheta commented on #39
Closing this issue as it is no longer relevant for the current master with SHA 7f3e313f8cb76300964c076a530339a461811056.

[2020-01-27 14:58] #39 closed

[2020-02-11 21:11] xtuchyna opened #48 "New patch release"

[2020-02-11 21:21] #48 closed

[2020-02-26 23:31] xtuchyna opened #57 "New major release"

[2020-02-26 23:51] #57 closed

[2020-03-05 20:34] xtuchyna opened #61 "New patch release"

[2020-03-10 20:32] #61 closed

[2020-04-02 10:10] pacospace opened #83 "Pull Requests/Issues link are not identified"
**Describe the bug**
Referenced Issues of Pull Requests are not identified.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `PYTHONPATH=. GITHUB_ACCESS_TOKEN=<acces_token> pipenv run python3 srcopsmetrics/cli.py --repository thoth-station/performance -c -l`
2. There are PR with Fixes in the comment but they are not identified.

**Expected behavior**
The referenced issue relative to a PR

[2020-04-02 10:12] pacospace opened #84 "Knowledge currently stored is lost if the process is interrupted"
**Describe the bug**
Interrupting the process does not store knowledge currently collected, therefore it is lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `PYTHONPATH=. GITHUB_ACCESS_TOKEN=<acces_token> pipenv run python3 srcopsmetrics/cli.py --repository thoth-station/performance -c -l`
2. Interrupt the collection from the keyboard.

**Expected behavior**
The Pull Requested that

[2020-04-09 23:35] xtuchyna commented on #83
catched that! :)
the problem was that i was just inspecting the comments in pull request, however - the first comment in pr is not a comment itself, but a *body* attribute of pull request.

Also, the referenced issue id was not in url format (as it normally was in comments) but rather a raw string as #<issue_id> was part of the body message.

[2020-04-11 00:17] xtuchyna commented on #84
The problem was in the implementation of the context manager. Now whenever keyboard interruption occurs (cmd + c) or an exception in pygithub module raises, the cached knowledge should be stored.

[2020-04-14 16:49] #84 closed

[2020-04-15 12:14] #83 closed

[2020-04-18 09:10] pacospace opened #91 "CLI parameter to decide which entities to be collected"
**Is your feature request related to a problem? Please describe.**
When I want to create a specific dataset with hundreds of packages where I need only some entities, I would like to be able to collect knowledge only for a specific entity instead of collecting all of them which usually takes lot of time.

**Describe the solution you'd like**
One env variable or cli parameter where the entities req

[2020-04-22 15:42] xtuchyna commented on #91
Reasonable, I'm gonna add the option to specify inspected entities to cli and also to ```bot_knowledge```

[2020-04-22 16:38] xtuchyna opened #96 "When to update processed knolwedge?"
## When should we update the processed knowledge?

After we create Knowledge out of analysed repositories, we can visualize statistics for each repository. However, visualization needs yet one step to be working - processing the created knowledge into desired information that will be passed to visualization api.

What comes to mind are two options:

-  flag -p can be added when calling cli. If pre

[2020-04-24 09:31] pacospace commented on #96
I see the point and I think being part of the `-c` flag make sense in any case because when we check for new knowledge it will automatically reevaluate processed knowledge and substitute to the old one, which will be removed.

[2020-04-24 10:15] xtuchyna commented on #96
yes, being part of the create knowledge process makes sense. I am probably gonna also add an option if user does not want to process information and just collect the knowledge

[2020-04-26 16:47] sesheta opened #98 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 9a63e9fbb62a0fef92afa1d6046d691ca3ba18c6.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-26 17:21] sesheta commented on #98
Closing this issue as it is no longer relevant for the current master with SHA 9a63e9fbb62a0fef92afa1d6046d691ca3ba18c6.

[2020-04-26 17:21] #98 closed

[2020-05-05 20:04] xtuchyna commented on #96
resolved in #94

[2020-05-05 20:04] #96 closed

[2020-05-14 20:24] xtuchyna opened #109 "Add more specific logging [1pt]"
When loading the processed information, make sure that logger any other word rather than *knowledge*.

I propose the use of word _processing_ or _processings_

[2020-05-14 20:36] xtuchyna opened #110 "New major release"

[2020-05-15 10:00] #110 closed

[2020-05-19 11:53] xtuchyna opened #115 "Notification knowledge collected"
What about considering the possibility of customized notification functionality after e.g. the knowledge collection is done?

We can make it by sending mail for example.

[2020-05-19 12:02] pacospace commented on #115
What is the use case here? :)

The knowledge collection is 'never' done I would say because we continuously learn from repositories.

[2020-05-19 12:24] xtuchyna commented on #115
The use case is for someone that uses cronjob for knowledge collection. The user would know how well or how much new knowledge had been collected.

Or is it more a SLI/SLO thing rather than a functionality provided by srcops?

[2020-05-31 23:15] sesheta opened #124 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 9ca45e1f8db7870d1369e0fc150478c8db2cb7ad.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-01 00:18] sesheta commented on #124
Closing this issue as it is no longer relevant for the current master with SHA 9ca45e1f8db7870d1369e0fc150478c8db2cb7ad.

[2020-06-01 00:18] #124 closed

[2020-06-04 19:29] xtuchyna opened #128 "sesheta-srcops GitHub token"
**Describe the bug**
Current GitHub token for sesheta-srcops bot (present in sesheta-srcops secrets on thoth-test-core) cannot be used in any way.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install srcopsmetrics`
2. set env. variable `GITHUB_ACCESS_TOKEN` as the current one in thoth-test-core
3. `GITHUB_ACCESS_TOKEN={token} PYTHONPATH=. pipenv run srcopsmetrics/cli.py -cplr thoth-s

[2020-06-04 19:35] goern commented on #128
I have noticed that the account was flagged (as a spammer) by gitHub, that is resolved. Could you check again?

[2020-06-04 19:49] xtuchyna commented on #128
works like a charm now!

[2020-06-04 19:49] #128 closed

[2020-06-05 12:38] pacospace opened #129 "Add ENV variable to decide where to store the outputs"
**Is your feature request related to a problem? Please describe.**
As we are moving to Argo workflows, the outputs stored locally need to be placed in a specific path to be taken by Argo and moved to another step or stored on Ceph.

**Describe the solution you'd like**
Having one Env Variable `SRCOPSMETRICS_OUTPUT` where all results will be stored.

[2020-06-05 13:08] xtuchyna opened #130 "API requests remaining logger invalid value"
**Describe the bug**
API rate limit information logged to the output is incorrect.

**Expected behavior**
API rate limit should change over time, definitely should not stay the same when running inspection.

**Log**
[code]

[2020-06-05 13:30] xtuchyna opened #131 "Use GH Archive for repository inspection"
**Is your feature request related to a problem? Please describe.**
Current knowledge inspection used (using a Token and making requests to the GitHub API) is probably in a violation against GitHub rules (see https://developer.github.com/v3/#rate-limiting )

**Describe the solution you'd like**
Find a better way of acquiring GH data

**Describe alternatives you've considered**
GH Archive solution s

[2020-06-05 14:11] pacospace opened #132 "Argo workflow collecting, processing and storing knowledge on Ceph [8pt]"
I want to create an Argo workflow collecting, processing and storing knowledge on Ceph,
so that the final visualized report does not have to create its own knowledge everytime it is accessed.

Acceptance Criteria

- [x] create WorkflowTemplate for srcopsmetrics with steps: collecting, processing and store everything on Ceph using srcopsmetrics CLI directly in the task

- [x] create Openshift Templ

[2020-06-10 12:10] xtuchyna opened #133 "Use Argo to store knowledge on ceph"
Instead of using the srcopsmetrics ceph knowledge storing, make Argo store the knowledge.

[2020-06-10 16:31] xtuchyna opened #134 "Add Release as an entity that would be inspected and stored"
As SrcOpsMetrics user,

I would like to have info about releases of a project so that I can analyze the behaviour after all release.

[2020-06-13 17:09] xtuchyna opened #138 "Entity classes (code refactor)"
**Is your feature request related to a problem? Please describe.**
Currently, for a valid implemented entity that will be analysed, contributor needs to meet several criteria on where to include the entity's implementation described in the main `README` file. This includes several issues with the code:

1. entity implementation becomes kind of parted on different places in project, in means of not

[2020-06-13 17:10] xtuchyna commented on #138
@pacospace @goern @fridex what are your opinions about this?

[2020-06-15 06:30] fridex commented on #138
I don't have deeper understanding of the source code present in this repo, but the approach you've described sounds correct to me.

You can check thoth-storages repo and `ResultStorageBase` class that needs to be inherited for any result specific adapter, e.g. [for cloc results](https://github.com/thoth-station/storages/blob/master/thoth/storages/si_cloc.py). I think it follows your description, t

[2020-06-17 10:21] pacospace opened #143 "If collected knowledge of a repository is not present, visualization should not start at all"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose a repo that you never used to collect knowledge.
2. `run PYTHONPATH=. pipenv run python3 srcopsmetrics/cli.py --repository <repository> -v -l`

**Expected behavior**
Receive immediately a Warning and process stop suggesting to collect the knowledge about that repo f

[2020-06-18 14:01] xtuchyna opened #149 "Processed knowledge is not stored on Ceph"
**To Reproduce**
Steps to reproduce the behavior:
1. Create and process knowledge (-cp) of thoth-station/performance on Ceph (without -l flag)

[2020-06-18 14:22] sesheta opened #150 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 6fc544ef3118463b2f3420c8a27ab1a9ff924435.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-18 15:12] #149 closed

[2020-06-18 15:34] sesheta commented on #150
Automatic dependency update still failing for the current master with SHA a2d9c4f66dfce820ede67424398493b30266accd.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-06-19 08:55] goern opened #152 "create SuperSet Dashboard"
As a Developer,
I want to access a SuperSet Dashboard,
so that I can see a per project break down of metrics.

[2020-06-19 09:09] sesheta commented on #150
Closing this issue as it is no longer relevant for the current master with SHA a2d9c4f66dfce820ede67424398493b30266accd.

[2020-06-19 09:09] #150 closed

[2020-06-19 19:06] xtuchyna opened #159 "Superset Dashboard POC [8pt]"
As a user of SrcOpsMetrics,
I want to see a POC dashboard in Superset using Hue for database connection,
so that the final visualized report (dashboard) can be dynamically created in Superset and changed according to my needs.

Acceptance Criteria
- [x] store data on Ceph (using Argo workflows)

- [x] create tables in Hue from data stored on Ceph

- [x] create charts in Superset by referrencing ta

[2020-06-19 19:07] xtuchyna commented on #152
Duplicate of #159

[2020-06-19 19:08] #152 closed

[2020-06-21 21:07] xtuchyna commented on #115
aight, will take it as a unnecessary feature for now and therefore close this one

[2020-06-21 21:07] #115 closed

[2020-06-29 19:13] sesheta opened #165 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 37a20b4369019deee8d4f69647d2cdf1206d8a41.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-07-02 16:19] todo[bot] opened #166 "Adjust content type"
https://github.com/thoth-station/mi/blob/54d4dd8b51b7cd6b06eb7990a40f510661a86c65/srcopsmetrics/entity_schema.py#L65-L67

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 54d4dd8b51b7cd6b06eb7990a40f510661a86c65 when #164 was merged. cc @goern.

[2020-07-02 16:19] todo[bot] opened #167 "Adjust content type"
https://github.com/thoth-station/mi/blob/19017e49cf72177fe07b4220f1ccbd4bc2e21eff/srcopsmetrics/entity_schema.py#L65-L67

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 19017e49cf72177fe07b4220f1ccbd4bc2e21eff. It&#x27;s been assigned to @goern because they committed the code.

[2020-07-02 16:23] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 19017e49cf72177fe07b4220f1ccbd4bc2e21eff.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-02 16:24] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 19017e49cf72177fe07b4220f1ccbd4bc2e21eff.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-02 16:24] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 19017e49cf72177fe07b4220f1ccbd4bc2e21eff.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-10 13:02] xtuchyna commented on #167
duplicate of #166

[2020-07-10 13:05] xtuchyna commented on #167
Duplicate of #166

[2020-07-10 13:05] #167 closed

[2020-07-14 12:49] xtuchyna opened #169 "Code refactor for positive `pre-commit` test"
In order for pre-commit to pass, we need to remove all of the errors issued by it. I suggest having a standalone PR for this.

[2020-07-14 14:32] xtuchyna opened #170 "New patch release"

[2020-07-14 14:37] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 6cdf47802368f102d965cd82bef1bd98945b35a2.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-14 14:38] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 6cdf47802368f102d965cd82bef1bd98945b35a2.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-14 16:13] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 7963fe413fc4a53673dd3a9646b3c58f4f8974b6.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-14 16:15] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 7963fe413fc4a53673dd3a9646b3c58f4f8974b6.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-14 17:53] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 90e5c814e2e20f8a54057cb072ac1d9cc39a09f4.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-14 19:14] #170 closed

[2020-07-23 12:38] xtuchyna opened #173 "Store labels with timestamps"
**Is your feature request related to a problem? Please describe.**
If we want to analyse how quick e.g. contributors respond to a fresh new opened issue, we should analyse timestamps for labels. In most GH repos the labeled issue by any of the contributors would mean a metric how fast they registered the issue (Time To Notice an Issue - TTNI - maybe?)

**Describe the solution you'd like**
Use a GH

[2020-07-23 14:37] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 13548841377adf2921ca8a3f0c2aea3b383748b5.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-27 13:00] xtuchyna opened #175 "Dash visualizations deletion"
Should we remove the currently unused dash visualizations?

First mentioned in discussion here: https://github.com/thoth-station/mi/pull/168#discussion_r455922956

My opinion is yes due to the fact that you can also run superset locally - therefore we could somehow keep default configuration from Superset (if it is possible) and leave it in here (public repo) for other interested people to use loc

[2020-07-27 13:01] xtuchyna commented on #175
@goern @fridex @pacospace

[2020-07-27 13:09] sesheta commented on #175
Successfully built and delivered the image.

[2020-07-27 13:23] xtuchyna commented on #175
oopsie, used wrong template...
should update mi to have latest issue templates too

[2020-07-27 13:24] sesheta commented on #175
Successfully built and delivered the image.

[2020-07-27 13:24] #175 closed

[2020-07-27 13:29] sesheta commented on #175
Successfully built and delivered the image.

[2020-07-27 14:32] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA ee5e73006c983893a3440d253d65e20986324016.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-29 13:46] xtuchyna opened #176 "Deletion of Dash visualizations"
Should we remove the currently unused dash visualizations?

First mentioned in discussion here: #168 (comment)

My opinion is yes due to the fact that you can also run superset locally - therefore we could somehow keep default configuration from Superset (if it is possible) and leave it in here (public repo) for other interested people to use locally.

[2020-07-29 14:34] goern commented on #176
+1 lets remove code that is not used #generalStatement

/assign @xtuchyna

[2020-07-31 12:34] #129 closed

[2020-07-31 12:36] xtuchyna commented on #159
Moving the 'fix date storage on Hue' to another issue, this card is complete.

[2020-07-31 12:36] #159 closed

[2020-07-31 12:41] xtuchyna commented on #166
@pacospace what was meant by this?

[2020-07-31 12:59] xtuchyna commented on #134
Can be valuable to checkout [this](https://docs.google.com/document/d/110qgNKiRE9i5L7ruVMWjIuflx2YAQPZV9A6Qb61uYW8/edit) and approach @fridex and @tushar7sharma

[2020-08-03 07:08] fridex commented on #134
It might be a good idea to check how other communities (e.g. openstack, project gnu, ...) store information about releases (how they structure it). If some automatic (machine) parsing can be subsequently used for our releases, it would be great for any further analyses.

CC @tushar7sharma

[2020-08-05 13:26] xtuchyna opened #177 "Add number of Stars as Entity"
**Is your feature request related to a problem? Please describe.**
In means of meta-information indicator, main popularity indicator is number of stars. Thus, having analysis on number of stars, we can know whether the project health is contributing to the repository popularity or not.

**Describe the solution you'd like**
Have Entity analysis on number of stars. If number a number is changed (inc

[2020-08-05 13:28] xtuchyna opened #178 "Add number of Forks as Entity"
**Is your feature request related to a problem? Please describe.**
Exactly same concept as #177 . Therefore no further description required.

[2020-08-06 15:01] pacospace commented on #166
I'm not quite sure :/

[2020-08-12 13:52] sesheta commented on #165
Automatic dependency update still failing for the current master with SHA 496232c81ab4f5b487b4ab0be4c4e4cd9872f5ba.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-08-14 06:02] #165 closed

[2020-08-17 13:37] #169 closed

[2020-08-17 13:42] #176 closed

[2020-08-21 09:27] pacospace opened #187 "TypeError: '<' not supported between instances of 'NoneType' and 'str'"
**Describe the bug**
`TypeError: '<' not supported between instances of 'NoneType' and 'str'` encountered in many mi-analysis workflows in thoth-test-core.

**Expected behavior**
MI-analysis run successfully.

**Screenshots**
[code]

[2020-09-24 11:29] xtuchyna opened #198 "Add `.thoth.yaml` file entity"
**Is your feature request related to a problem? Please describe.**
In order to inspect kebechet managers, we need to find out which of them are used in the repository.

**Describe the solution you'd like**
~~Inspect thoth-yaml configuration file and detect managers from there.~~

~~Thoth-yaml Entity acceptance criteria:~~

- [ ] ~~parse all of the managers specified under `- managers:` and save th

[2020-09-24 12:04] xtuchyna opened #202 "test"
test

[2020-09-24 12:09] xtuchyna opened #204 "Schedule workflows"
See https://github.com/thoth-station/mi-scheduler/issues/48

[2020-09-25 11:50] xtuchyna opened #226 "Kebechet info"

[2020-09-25 12:00] sesheta commented on #226
Information about dependency management for the current master branch with SHA 1f0e05d892cbebb92dbec6e3d2117998471122ba.

<details>
  <summary>Dependency graph</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

[2020-09-25 12:00] #226 closed

[2020-09-25 12:04] xtuchyna opened #227 "Kebechet update"

[2020-09-25 12:13] sesheta commented on #227
Closing this issue as it is no longer relevant for the current master with SHA 1f0e05d892cbebb92dbec6e3d2117998471122ba.

[2020-09-25 12:13] #227 closed

[2020-10-07 20:36] xtuchyna commented on #198
hello folks, updated the issue description so it matches the actual PR

[2020-10-08 12:18] #138 closed

[2020-10-08 12:18] todo[bot] opened #248 "Extend to all types of files. Currently only README are considered."
https://github.com/thoth-station/mi/blob/db7e9eccd17b2342fd43aed4a7c31c2702fe26f6/srcopsmetrics/entities/content_file.py#L44-L49

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db7e9eccd17b2342fd43aed4a7c31c2702fe26f6 when #186 was merged. cc @xtuchyna.

[2020-10-08 12:18] todo[bot] opened #249 "recursive Readme analysis - is that a good idea?"
https://github.com/thoth-station/mi/blob/db7e9eccd17b2342fd43aed4a7c31c2702fe26f6/srcopsmetrics/entities/content_file.py#L45-L50

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db7e9eccd17b2342fd43aed4a7c31c2702fe26f6 when #186 was merged. cc @xtuchyna.

[2020-10-08 12:18] todo[bot] opened #250 "Use commits to extract information."
https://github.com/thoth-station/mi/blob/db7e9eccd17b2342fd43aed4a7c31c2702fe26f6/srcopsmetrics/entities/pull_request.py#L75-L80

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in db7e9eccd17b2342fd43aed4a7c31c2702fe26f6 when #186 was merged. cc @xtuchyna.

[2020-10-14 13:22] xtuchyna commented on #109
With visualization feature removed, the processing is not currently used. Therefore the matter is not important anymore.

[2020-10-14 13:22] #109 closed

[2020-10-14 13:23] xtuchyna commented on #132
This Issue was completed within the PR #168
Closing the issue.

[2020-10-14 13:23] #132 closed

[2020-10-14 13:24] xtuchyna commented on #187
The processing not used currently  (because of the removed visualizations).
Therefore the matter of the issue is not relevant anymore -> closing it

[2020-10-14 13:24] #187 closed

[2020-10-14 13:26] xtuchyna commented on #143
Visualizations not used anymore (see #180 ), therefore closing issue.

[2020-10-14 13:26] #143 closed

[2020-10-14 13:37] xtuchyna commented on #248
See #252 .
If other type of github Content File as an entity will be considered, it should be suggested as a standalone entity rather than a general `ContentFile`.

Therefore I am going to close this issue.

[2020-10-14 13:37] #248 closed

[2020-10-15 13:30] xtuchyna commented on #166
I think that the matter of topic is same here https://github.com/thoth-station/mi/issues/248#issuecomment-708406997

Therefore, I will also close this Issue as well.

[2020-10-15 13:30] #166 closed

[2020-10-26 22:01] xtuchyna opened #256 "Code review generation"
During researching my diploma thesis topic, I've stumbled upon this [research](https://ml4code.github.io/publications/siow2019core/) which speculates over (Pull Request) code generation done by model.

The results seems to be quite interesting, so I'm creating this Issue not to forget about it.
I'm doing it here because there is a review recommender part of `mi` (which is not currently used I gues

[2020-10-27 15:36] #198 closed

[2020-10-27 15:37] pacospace opened #258 "Cannot store safely cached knowledge collected if error occurs"
**Describe the bug**
Cannot store safely cached knowledge collected if error occurs, knowledge cached is lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pipenv run python3 srcopsmetrics/cli.py --repository thoth-station/mi -c -l -e DependencyUpdate`

**Expected behavior**
Knowledge is stored safely even if error occurs

**Screenshots**
[code]

**Additional context**
Add any other

[2020-10-27 18:50] #134 closed

[2020-10-29 09:57] xtuchyna commented on #177
implemented in #255

[2020-10-29 09:57] #177 closed

[2020-10-29 11:19] #258 closed

[2020-10-29 16:02] #130 closed

[2020-11-03 07:28] #178 closed

[2020-11-04 13:56] #250 closed

[2020-11-05 22:59] xtuchyna opened #278 "Label bot dataset"
**Is your feature request related to a problem? Please describe.**
Having a label bot inside our organization (see https://github.com/thoth-station/kebechet/issues/586) requires training it on Issue / PR dataset consisting of stored labels.

**Describe the solution you'd like**
1. Original label bot https://github.com/machine-learning-apps/Issue-Label-Bot
2. Giorgos version https://github.com/Gior

[2020-11-11 14:29] xtuchyna opened #284 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-11-11 14:37] #284 closed

[2020-11-20 22:42] xtuchyna opened #287 "Reviewer recommender model"
**Is your feature request related to a problem? Please describe.**
One of the first funcitonalities of `mi` was a reviewer recommendation, which recommended a reviewer for PR based on some statistical properties of contributor activity.

**Describe the solution you'd like**
A contributor2vec recommendation model, where each contributor would be represented as a vector of features (can include some

[2020-11-23 11:22] khebhut[bot] opened #289 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA d672bdfd36f454b8f12370007c73c12017756f65.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-30 12:28] #289 closed

[2020-11-30 13:36] #173 closed

[2020-12-01 21:31] xtuchyna opened #293 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-12-01 21:42] #293 closed

[2020-12-09 08:15] goern opened #300 "Document what Metrics we want to create and how they are aggregated and analysed out of GitHub data"
SSIA

[2020-12-11 12:00] goern opened #301 "aggregate new metric "Pull Requests Discussions""
**Is your feature request related to a problem? Please describe.**
Aggregating a "PR discussion" metric will help us figure out if noisy discussion of a PR will lead to slowing down its time-to-merge. Also, a sentiment of the discussion might be a valuable indicator. Including the role (reviewer, commiter, other, .. ) of the participants in the discussion might be interesting.

**Describe the solu

[2021-01-21 09:46] fridex commented on #133
@xtuchyna is this still relevant?

[2021-01-21 11:22] xtuchyna commented on #133
@fridex this is in question. Having argo storing the knowledge, we could exclude the ceph storing functionality from mi - however the ceph loading would still remain (knowledge updating & processing)

[2021-01-22 00:37] xtuchyna opened #308 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-22 00:45] #308 closed

[2021-01-25 16:08] xtuchyna commented on #301
Ay, didn't notice this was not closed.

[2021-01-25 16:08] #301 closed

[2021-01-26 09:20] xtuchyna opened #311 "Initialize entities without github repository"
**Is your feature request related to a problem? Please describe.**
Currently, for an entity initialization, the `Repository` object from `pygithub` must be provided.

**Describe the solution you'd like**
Should be possible to initialize it without the object, with maybe just a repository name and `is_local` argument

[2021-01-26 13:57] goern commented on #300
ping

[2021-01-26 13:59] todo[bot] opened #313 "respect hashes in requirements.txt file"
https://github.com/thoth-station/mi/blob/0b13c2675720a4b0a2eb367fda0ee8c73b79a3da/setup.py#L28-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0b13c2675720a4b0a2eb367fda0ee8c73b79a3da when #310 was merged. cc @xtuchyna.

[2021-01-26 13:59] todo[bot] opened #314 "respect hashes in requirements.txt file"
https://github.com/thoth-station/mi/blob/334342b313c750d0b782ee0905e65a9d7b17a9c0/setup.py#L28-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 334342b313c750d0b782ee0905e65a9d7b17a9c0. It&#x27;s been assigned to @xtuchyna because they committed the code.

[2021-01-26 14:09] xtuchyna commented on #314
Duplicate of #313

[2021-01-26 14:09] #314 closed

[2021-01-26 14:14] xtuchyna opened #315 "Change todo bot settings to not create duplicate Issues of same #TODOs"
SSIA

[2021-01-26 15:09] pacospace commented on #315
This is a problem at thoth org level, I think @goern @fridex @harshad16 will remember why it happens.

[2021-01-26 17:13] xtuchyna opened #317 "README analysis fails"
**Describe the bug**
[code]

[2021-01-26 17:20] xtuchyna opened #318 "Commit analysis fails"
**Describe the bug**
[code]

[2021-01-26 17:22] xtuchyna commented on #318
Also
[code]

[2021-01-26 17:46] goern commented on #315
is there any example of duplicates?

/kind bug

[2021-01-26 18:06] pacospace commented on #315
https://github.com/thoth-station/thoth-application/issues/796

[2021-01-27 14:29] xtuchyna opened #321 "Add License as an Entity"
See https://github.com/thoth-station/mi/pull/319#discussion_r565078783

[2021-01-27 14:42] #318 closed

[2021-01-27 14:51] xtuchyna commented on #204
Scheduling implemented, closing Issue

[2021-01-27 14:51] #204 closed

[2021-01-28 11:09] xtuchyna opened #322 "Add MI sigs to the thoht-staion/core/sigs.yaml"
**Is your feature request related to a problem? Please describe.**
SSIA
reference: https://github.com/thoth-station/core/pull/263

[2021-01-28 15:52] xtuchyna opened #324 "Consider ReadMeHistory as an Entity"
**Is your feature request related to a problem? Please describe.**
see discussion here https://github.com/thoth-station/mi/pull/319#discussion_r565863304

[2021-01-28 23:15] xtuchyna opened #326 "Entity tests"
**Is your feature request related to a problem? Please describe.**
Everytime a PR is being made, we currently don't have any tests for Entity logic - meaning if there is something wrong (and contributor forgets to test) the failure occurs on openshift in scheduled workflow, which takes a lot of developer's time to look for the error and fix it (making another PR, requesting another review, etc.)

[2021-01-29 07:38] #317 closed

[2021-01-29 10:39] xtuchyna opened #327 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-01-29 10:48] #327 closed

[2021-02-17 14:21] xtuchyna opened #329 "Identify PR that needs focus, because their ttm is running out of bounds."
**Is your feature request related to a problem? Please describe.**
SSIA

**Describe the solution you'd like**
Have a separate page showing the TTM outliers and link to the GitHub PR.

**Additional context**
This feature request follows #323

[2021-02-18 14:09] pacospace opened #331 "Create Kebechet update manager statistics (daily) on Ceph"
Start storing `Kebechet Update Manager` statistics on a daily basis (which means the statistics will be according to the specific day):

- [x] number of PRs MERGED by bots (automatic update)

- [x] number of PRs MERGED by humans (human in the loop? why? if PRs are being merged by humans, there is something wrong w/ kebechet pipeline)

- [x] number of PRs CLOSED (UNMERGED) by humans (rejected)

- [

[2021-02-18 18:57] todo[bot] opened #334 "score should be calculated from e.g. weekly stats, not overall"
https://github.com/thoth-station/mi/blob/92a5e6422f0161b3fca3732327edecb79f3d2ee1/srcopsmetrics/metrics.py#L216-L221

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 92a5e6422f0161b3fca3732327edecb79f3d2ee1 when #333 was merged. cc @xtuchyna.

[2021-02-18 18:57] todo[bot] opened #335 "what degree would be best?"
https://github.com/thoth-station/mi/blob/92a5e6422f0161b3fca3732327edecb79f3d2ee1/srcopsmetrics/metrics.py#L217-L222

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 92a5e6422f0161b3fca3732327edecb79f3d2ee1 when #333 was merged. cc @xtuchyna.

[2021-03-01 09:25] todo[bot] opened #336 "include stats of reviewers?"
https://github.com/thoth-station/mi/blob/10075a5a27cc5d13be01dd03737ccebcb90817f5/srcopsmetrics/kebechet_metrics.py#L127-L132

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 10075a5a27cc5d13be01dd03737ccebcb90817f5 when #332 was merged. cc @xtuchyna.

[2021-03-01 09:25] todo[bot] opened #337 "consider adding median_time to every day statistics (rolling windown maybe?)"
https://github.com/thoth-station/mi/blob/10075a5a27cc5d13be01dd03737ccebcb90817f5/srcopsmetrics/kebechet_metrics.py#L193-L198

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 10075a5a27cc5d13be01dd03737ccebcb90817f5 when #332 was merged. cc @xtuchyna.

[2021-03-01 09:25] todo[bot] opened #338 "consider adding median_time to every day statistics (rolling windown maybe?)"
https://github.com/thoth-station/mi/blob/df35644f3b6fc217a915a7e7ceddd328adbe696f/srcopsmetrics/kebechet_metrics.py#L193-L198

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in df35644f3b6fc217a915a7e7ceddd328adbe696f. It&#x27;s been assigned to @xtuchyna because they committed the code.

[2021-03-04 13:03] xtuchyna opened #339 "Generate daily repository statistics dashboard visualized on Superset"
**Is your feature request related to a problem? Please describe.**
Meta-information Indicators project focus is to provide a tool for contributors, with which health of a repository can be inspected.

**Describe the solution you'd like**
Any repository registered here https://goern.github.io/kebechet-universe/ will have its own dashboard accesible in Superset.
Superset dashboard should contain inf

[2021-03-04 16:45] xtuchyna opened #340 "Automate and present to Black Flake project"
**Is your feature request related to a problem? Please describe.**
Superset and Hue should be set for automatical update of database, so that the dashboard has always newest knowledge.

**Acceptance Critera**
- [ ]  Ask ODH or operate-first how this process can be automated, i.e. how do we make Hue automatically refresh tables according to new daily metrics and how does Superset refresh on these n

[2021-03-04 16:47] khebhut[bot] opened #341 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA df35644f3b6fc217a915a7e7ceddd328adbe696f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-03-04 16:48] khebhut[bot] opened #342 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA df35644f3b6fc217a915a7e7ceddd328adbe696f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-03-04 16:48] khebhut[bot] opened #343 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA df35644f3b6fc217a915a7e7ceddd328adbe696f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-03-04 17:04] #343 closed

[2021-03-08 12:18] #342 closed

[2021-03-08 12:18] #341 closed

[2021-03-22 09:14] #300 closed

[2021-03-22 09:14] todo[bot] opened #345 "insert graphs for each set of scores"
https://github.com/thoth-station/mi/blob/ee8b8fc788abf5227fc75c16cf6a6c4e7430491c/srcopsmetrics/entities/README.rst#L134

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ee8b8fc788abf5227fc75c16cf6a6c4e7430491c when #316 was merged. cc @xtuchyna.

[2021-03-22 09:14] todo[bot] opened #346 "insert graphs for each set of scores"
https://github.com/thoth-station/mi/blob/c141ccfe88f131d7beb28e2b3c4d7f5a9b02578c/srcopsmetrics/entities/README.rst#L134

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c141ccfe88f131d7beb28e2b3c4d7f5a9b02578c. It&#x27;s been assigned to @xtuchyna because they committed the code.

[2021-03-22 09:17] xtuchyna commented on #346
Duplicate of #345

[2021-03-25 22:13] xtuchyna opened #349 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-25 22:24] #349 closed

[2021-03-29 09:00] xtuchyna opened #352 "Kebechet analysis"
**LOG**
[code]

[2021-03-29 14:14] #352 closed

[2021-03-29 14:15] xtuchyna opened #354 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-29 14:31] #354 closed

[2021-03-30 13:16] xtuchyna opened #358 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-30 13:17] xtuchyna commented on #338
Duplicate of #337

[2021-03-30 13:17] #338 closed

[2021-03-30 13:17] #346 closed

[2021-03-30 13:25] xtuchyna opened #360 "Update Readme Documentation"
As a user of `mi`,
I want to have proper updated documentation on how to use `mi` for GH data inspection/metrics calculation,
so that I can use `mi` for (my) repository analysis.

[2021-03-30 13:27] #358 closed

[2021-04-07 13:59] #331 closed

[2021-04-07 14:01] xtuchyna opened #367 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-04-07 14:05] #367 closed

[2021-04-07 14:05] xtuchyna opened #368 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-04-07 14:13] #368 closed

[2021-04-09 11:06] xtuchyna commented on #326
Use `hypothesis` package for entity data testing #370

[2021-04-09 13:02] xtuchyna opened #371 "Save inconsistent knowledge"
**Is your feature request related to a problem? Please describe.**
Currently, whenever the `mi` checks the data consistency of repository after extraction, if it finds the inconsistent data according to entity schema (let's say e.g. PR body is `None`, but in the scheme it was specify to only `str` and not `Any(str, None)` ) it cancels the data aggregation and everything stored is thrown away.

**D

[2021-04-11 15:36] xtuchyna commented on #371
WDYT @pacospace , I think this is a bit more practical. Additionally, we could then write tests in `hypothesis` (#326 ) to ensure data consistency.

[2021-04-12 06:16] pacospace commented on #371
- what do you mean all thrown away? I expect only that specific PR is thrown away not everything right?

- what do you do with those data? improve data aggregation of edge cases?

[2021-04-12 07:22] xtuchyna commented on #371
That is reasonable, I can make a Feature request out of this then.

I am not sure if I understand this

[2021-04-12 07:43] pacospace commented on #371
my question is why `Store data with _inconsistent suffix rather then not saving it at all`, what do you with stored data?

[2021-04-12 07:46] xtuchyna commented on #371
Aah, it can be useful for a data scientist to further work with data - do an exploratory analysis, look and see what's wrong, clean it and make it consistent.

[2021-04-12 08:05] pacospace commented on #371
Do you have examples of these edge cases?

[2021-04-12 08:08] xtuchyna commented on #371
Yes, e.g. https://github.com/thoth-station/mi/pull/351
tl;dr - the issue body could be null and that was (from my point of view) an edge case.

[2021-04-12 10:07] pacospace commented on #371
Well you should look at the GitHub API for the version of pygithub you are considering and that API with the schema checks you have should match.

I don't consider these edge cases, rather missing consistency checks respect to the GitHub API.

The PR or Issue structure from github API should match the version you are considering for the data, otherwise these "edge cases" can appear always. So the

[2021-04-12 10:09] pacospace commented on #371
Why are you using `Any(None, str)` if Any considers any type. If you expect None or str only, you should use `Optional[str]`

[2021-04-13 11:29] xtuchyna opened #373 "Analyse kebechet statistics for a specific day (previous day)"
**Is your feature request related to a problem? Please describe.**
We want to analyse previous day, not the current one (because it can lack kebechet requests made in the same day after the analysis was done)

**Describe the solution you'd like**
Change analyse kebechet statistics to analyse for a specific day, and use specific day to be the one of yesterday.

**Additional context**
After analysis

[2021-04-13 19:28] goern commented on #373
/kind feature

[2021-04-17 05:26] sesheta commented on #249
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-18 20:22] xtuchyna commented on #371
the `voluptuous` module uses Any as an Optional (in contrast to `typing`)

[2021-04-21 11:32] sesheta commented on #133
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-24 13:07] #371 closed

[2021-04-24 13:08] xtuchyna opened #378 "Also might be good to have an env variable to tune that time if you want?"
Also might be good to have an env variable to tune that time if you want?

_Originally posted by @pacospace in https://github.com/thoth-station/mi/pull/375#discussion_r615837887_

[2021-04-24 13:15] xtuchyna opened #379 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-04-24 13:21] #379 closed

[2021-04-26 16:53] sesheta commented on #313
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-27 14:27] todo[bot] opened #382 "implement as_csv bool"
https://github.com/thoth-station/mi/blob/35526664ce1ff184a3247caf3d2b008ffd4f2ba6/srcopsmetrics/entities/interface.py#L103-L108

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 35526664ce1ff184a3247caf3d2b008ffd4f2ba6 when #363 was merged. cc @xtuchyna.

[2021-04-27 14:27] todo[bot] opened #383 "implement as_csv bool"
https://github.com/thoth-station/mi/blob/f0dbaa046f1c2d75af80836b612f8beaa2d13b32/srcopsmetrics/entities/interface.py#L103-L108

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f0dbaa046f1c2d75af80836b612f8beaa2d13b32. It&#x27;s been assigned to @xtuchyna because they committed the code.

[2021-04-29 05:33] sesheta commented on #322
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 05:33] sesheta commented on #324
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 05:33] sesheta commented on #321
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 08:33] sesheta commented on #278
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 08:33] sesheta commented on #311
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 08:33] sesheta commented on #131
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 08:33] sesheta commented on #256
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 12:19] xtuchyna opened #385 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-04-29 12:34] #385 closed

[2021-04-29 12:43] xtuchyna commented on #131
/remove-lifecycle stale

[2021-04-29 12:44] xtuchyna commented on #278
I don't think this should be part of `mi`, but rather a `glyph` submodule.
cc @goern @pacospace ?

[2021-04-29 12:45] xtuchyna commented on #256
This should be in `socrates` module

[2021-04-29 13:07] xtuchyna opened #388 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: 2.5.0

[2021-04-29 13:11] sesheta commented on #388
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:2.5.0](https://quay.io/thoth-station/mi:2.5.0)

[2021-04-29 13:11] #388 closed

[2021-04-29 20:33] sesheta commented on #315
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-30 10:56] xtuchyna opened #389 "Kebechet metrics calculation fails due to the `id` error"
**Describe the bug**
SSIA

**LOGS**
[code]

[2021-04-30 10:57] xtuchyna commented on #389
/kind bug

[2021-04-30 10:57] xtuchyna commented on #389
/cc @xtuchyna

[2021-04-30 10:58] xtuchyna opened #390 "PR logging is not working properly with tqdm"
**Describe the bug**
See log output in #389

[2021-04-30 10:58] xtuchyna commented on #390
/kind bug
/assign @xtuchyna

[2021-04-30 11:08] xtuchyna commented on #383
Duplicate of #382

[2021-04-30 11:08] #383 closed

[2021-04-30 15:44] pacospace opened #392 "Can we verify if there are check runs or CI running in a certain repo?"
This might be an important factor to consider when we check time to merge a PR, as it does not depends only on humans but on the infrastructure. (during call with @harshad16)

[2021-05-03 15:08] #389 closed

[2021-05-03 15:20] xtuchyna opened #395 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-05-03 15:33] #395 closed

[2021-05-04 13:14] xtuchyna opened #397 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.5.1

[2021-05-04 13:22] sesheta commented on #397
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.5.1](https://quay.io/thoth-station/mi:v2.5.1)

[2021-05-04 13:22] #397 closed

[2021-05-04 14:35] xtuchyna opened #399 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-05-04 14:48] #399 closed

[2021-05-04 14:58] xtuchyna opened #401 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.5.2

[2021-05-04 15:03] sesheta commented on #401
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.5.2](https://quay.io/thoth-station/mi:v2.5.2)

[2021-05-05 14:00] goern opened #403 "aggregate data based on fedoraproject dist-git repository"
**Is your feature request related to a problem? Please describe.**
As a User of MI,
I want to provide a fedora dist-git repo (for example https://src.fedoraproject.org/rpms/abrt)
so that the original repo is aggregated by MI

**Describe the solution you'd like**
TBD, we should have some kind of script to parse the orig repo URL from the SPEC file in the dist-git

**Describe alternatives you've con

[2021-05-17 10:27] xtuchyna commented on #390
This was already fixed.

[2021-05-17 10:27] #390 closed

[2021-05-17 13:17] xtuchyna opened #405 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-05-17 13:35] #405 closed

[2021-05-17 19:08] sesheta commented on #249
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-17 19:23] xtuchyna commented on #249
/remove-lifecycle rotten

[2021-05-18 16:12] sesheta commented on #329
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-19 15:49] #360 closed

[2021-05-19 16:00] xtuchyna opened #410 "Create Data aggregation request Issue template"
SSIA

**Is your feature request related to a problem? Please describe.**
Related to https://github.com/thoth-station/mi/#data-extraction-request

[2021-05-19 19:19] sesheta commented on #334
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-19 19:19] sesheta commented on #335
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-21 13:21] sesheta commented on #133
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-26 17:47] sesheta commented on #313
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 06:24] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 06:24] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 06:24] sesheta commented on #321
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 09:24] sesheta commented on #311
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 15:24] sesheta commented on #278
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-30 09:28] sesheta commented on #336
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-30 09:28] sesheta commented on #337
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-31 08:20] pacospace commented on #278
@goern someone from aiops team is also looking at this right?

[2021-05-31 10:50] goern commented on #278
/remove-lifecycle rotten
/triage needs-information

@durandom could you point us at the right person?

[2021-05-31 12:20] xtuchyna commented on #337
/remove-lifecycle stale

[2021-05-31 12:21] xtuchyna commented on #336
/remove-lifecycle stale

[2021-06-01 14:42] xtuchyna opened #413 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-02 16:49] sesheta commented on #340
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-08 12:35] goern commented on #403
/close

[2021-06-08 12:35] #403 closed

[2021-06-08 12:35] sesheta commented on #403
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/403#issuecomment-856727552):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](htt

[2021-06-11 10:26] xtuchyna opened #415 "KeyError: 'title'"
**LOG**
[code]

/kind bug

[2021-06-11 11:35] #415 closed

[2021-06-11 11:36] xtuchyna opened #417 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-11 11:55] xtuchyna opened #419 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.6.1

[2021-06-11 11:55] #417 closed

[2021-06-11 12:10] sesheta commented on #419
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.6.1](https://quay.io/thoth-station/mi:v2.6.1)

[2021-06-11 12:10] #419 closed

[2021-06-15 10:07] goern commented on #410
@xtuchyna is this valid?

/triage needs-information
/kind feature
/kind demo

[2021-06-15 10:07] goern commented on #392
/triage needs-information

[2021-06-15 10:08] goern commented on #382
@xtuchyna is this still valid or just a `fixes #382` missing with the PR?

[2021-06-15 10:08] goern commented on #345
/triage needs-information

[2021-06-15 10:08] goern commented on #378
/triage needs-information

[2021-06-15 10:09] goern commented on #339
/priority important-soon

[2021-06-15 10:09] goern commented on #336
/triage needs-information

[2021-06-15 10:10] goern commented on #373
/priority backlog

[2021-06-15 10:10] goern commented on #337
/triage needs-information

[2021-06-15 10:10] goern commented on #326
/triage needs-information

[2021-06-15 10:11] goern commented on #249
/triage needs-information

[2021-06-15 10:11] goern commented on #131
/priority backlog

[2021-06-15 10:26] goern commented on #133
/priority backlog

[2021-06-15 10:26] goern commented on #133
/priority awaiting-more-evidence

[2021-06-15 10:26] goern commented on #311
/priority awaiting-more-evidence

[2021-06-15 10:26] goern commented on #324
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #324
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #324
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #322
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #321
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #329
/priority awaiting-more-evidence

[2021-06-15 10:27] goern commented on #340
/priority awaiting-more-evidence

[2021-06-15 10:28] goern commented on #335
/priority awaiting-more-evidence

[2021-06-15 10:28] goern commented on #334
/priority awaiting-more-evidence

[2021-06-15 10:28] goern commented on #313
/priority awaiting-more-evidence

[2021-06-16 09:12] pacospace commented on #392
This was an old thought, but now there are scorecards :) we can close this I think @goern

[2021-06-16 12:21] xtuchyna commented on #392
Shouldn't we include scorecards to the `mi` then?

[2021-06-22 13:15] goern commented on #249
/priority backlog

[2021-06-22 13:20] goern commented on #278
It might be good to move this issue to https://github.com/aicoe-aiops/github-labeler

[2021-06-22 13:28] goern commented on #326
/remove-triage needs-information
/priority backlog
/help

[2021-06-22 13:28] sesheta commented on #326
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/mi/is

[2021-06-23 10:23] xtuchyna opened #420 "When trying to retrieve document, time out happens"
**Describe the bug**
When trying to retrieve document from ceph (zero cluster, `thoth-test-core`, timeout error is raised).

**To Reproduce**
Steps to reproduce the behavior:
1. `oc project thoth-test-core`
2. `oc create job --from=cronjob/mi-scheduler-kebechet-analyse mi-keb-analyse-test`
3. look out for logs of recent `mi-analysis-mi...` workflow
4. See that it takes the minute to try and retrie

[2021-06-23 10:40] pacospace commented on #420
could you add more info on how to reproduce please? what URL endpoint, what Ceph, etc..

[2021-06-23 10:45] xtuchyna commented on #420
@pacospace yes just inspecting it rn and collecting information, will add more specification as I go on

[2021-06-23 11:15] xtuchyna opened #422 "When using remote storage, log path location in ceph format"
**Is your feature request related to a problem? Please describe.**
rn, when using ceph, the output of e.g. `check_directory` function looks like this:
[code]

**Describe the solution you'd like**
use a path format with endpoint and bucket + bucket prefix names instead of the cloud's `/opt/app-root/src/thoth-test-core/thoth-sli-metrics/kebechet-update-manager/bot_knowledge/thoth-station/tensorflow-

[2021-06-23 11:33] xtuchyna opened #423 "Filepath for kebechet metrics logging is not correct"
**Describe the bug**
Filepath that is outputted in kebechet metrics is not correct (see LOGS for details). There is no such file as `thoth/data/kebechet-update-manager/overall_kebechet_update_manager_2021-06-21.json` to be found neither in `DH-PLAYPEN` nor `thoth` bucket.

**To Reproduce**
Steps to reproduce the behavior:
1. `oc project thoth-test-core`
2. `oc create job --from=cronjob/mi-schedule

[2021-07-07 19:20] xtuchyna opened #425 "Add Error suffix for custom exceptions"
**Describe the bug**
Recently in #424 , `flake` pointed out issues in naming conventions. Because of that, I am creating this issue as a /kind todo , because the issue is not relevant in the mentioned PR

**LOGS**
[code]

[2021-07-08 11:59] xtuchyna opened #426 "ValueError: If using all scalar values, you must pass an index"
**Describe the bug**
TBD
/kind bug

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**LOGS**
[code]

[2021-07-08 17:51] goern commented on #422
/priority backlog

[2021-07-08 17:51] goern commented on #382
ping

[2021-07-08 17:51] goern commented on #423
/priority backlog

[2021-07-08 17:55] goern commented on #382
/kind feature
/priority backlog

[2021-07-08 17:57] xtuchyna commented on #423
Already resolved and not an issue, closing hits :)

[2021-07-08 17:57] #423 closed

[2021-07-08 18:00] goern commented on #313
/kind feature

[2021-07-08 18:00] goern commented on #345
/kind feature

[2021-07-08 18:00] goern commented on #337
/kind feature

[2021-07-08 18:01] goern commented on #133
/kind feature

[2021-07-08 18:01] goern commented on #329
/kind feature

[2021-07-08 18:01] goern commented on #249
/kind feature

[2021-07-08 18:01] goern commented on #334
/kind feature

[2021-07-08 18:01] goern commented on #336
/kind feature

[2021-07-08 18:01] goern commented on #335
/kind feature

[2021-07-08 18:02] goern commented on #425
/kind feature
/priority backlog

[2021-07-08 18:02] goern commented on #340
/kind feature

[2021-07-08 18:02] goern commented on #378
/kind feature

[2021-07-08 18:02] goern commented on #392
/kind feature

[2021-07-08 18:09] goern commented on #426
/priority backlog

[2021-07-09 15:19] xtuchyna opened #427 "extra keys not allowed @ data['6']['merged_by']"
**Describe the bug**
There is some unexpected value for merged_by attribute. Schema fix is neede
/kind bug

**LOGS***
[code]

[2021-07-09 16:09] #425 closed

[2021-07-09 16:35] #427 closed

[2021-07-09 16:36] xtuchyna opened #430 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-09 17:07] #430 closed

[2021-07-13 14:06] goern commented on #133
@xtuchyna is this still a thing we want to do?

[2021-07-13 14:21] goern commented on #278
@xtuchyna ping

[2021-07-13 14:23] goern commented on #410
/priority backlog

[2021-07-14 09:59] xtuchyna commented on #133
@goern I would say so. If we could store the data by using Argo, the whole ceph handling could be removed from `mi`, which would result in better structured application. The `mi` would in the end only care about storing data wherever it is running - a lot of code could be possibly removed (e.g. cluttered presence of `is_local` parameter) and it would be more clear, more readable.

Also, a lot of u

[2021-07-14 10:04] xtuchyna commented on #410
geeee, this is already in the mi :see_no_evil: Forgot to close
It is however not available, I think that someone with privileges has to set it up in the UI to be the template.

[2021-07-14 10:07] xtuchyna commented on #410
Aight, new issue in `mi-scheduler` created for his, therefore I am closing it here :partying_face:

[2021-07-14 10:07] #410 closed

[2021-07-14 10:16] xtuchyna commented on #278
@goern I think that this may be closed. Issue was referenced in new issue under `github-labeler` repo, so there's no need to keep it alive here. Closing

[2021-07-14 10:16] #278 closed

[2021-07-14 13:50] xtuchyna opened #432 "requests.exceptions.ReadTimeout: HTTPSConnectionPool(host='api.github.com', port=443): Read timed out."
**Describe the bug**
`mi-analysis` workflow failed due to some internal error. See LOGS for more
TBD

**LOGS**
[code]

[2021-07-14 13:51] xtuchyna commented on #432
/kind bug

[2021-07-15 13:04] xtuchyna opened #433 "Error 502 occured [operate-first/continuous-deployment]"
**Describe the bug**
Data extraction could not be finished due to GItHub 502 Error

**LOGS**
[code]

[2021-07-15 13:06] xtuchyna commented on #433
/kind bug

[2021-07-15 13:25] xtuchyna commented on #433
Seems like a ceph/openshift issue, the extraction finishes successfully locally

[2021-07-15 13:36] xtuchyna commented on #433
Not reproducible, local and remote storage works from launching in local environment

Will retry this in workflow on `zero-test` and let's see what happens

[2021-07-15 13:55] xtuchyna commented on #433
BTW
need to try this w/ the `sesheta-srcops` GH token, maybe that's where the issue is

[2021-07-15 14:07] xtuchyna commented on #433
`sesheta-srcops` token is verified, the only remaining thing is to re-launch in `zero-test`, but I have a feelinng that this error was caused purely randomly (due to some issues on GH side) so I think this won't be reproducible

[2021-07-15 15:08] xtuchyna commented on #420
Hey @pacospace @harshad16 what's the status of this for the `https://s3-openshift-storage.apps.zero.massopen.cloud/` endpoint?

[2021-07-15 17:16] xtuchyna opened #434 "Introduce a MERGE_PATH variable"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/thoth-station/mi-scheduler/issues/188

**Describe the solution you'd like**
Introduce a variable that set's the path where the merged data will be stored.
This variable does not influence `KNOWLEDGE_PATH` - that'll be still the location FROM where the data is loaded.
Nevertheless, the new `MERGE_PATH`

[2021-07-15 17:50] xtuchyna opened #435 "Consider Event entities"
**Is your feature request related to a problem? Please describe.**
Right now, the data aggregation is somehow restrictive. It is effective whenever someone wants to have a custom data aggregation over a specific repository or organisation, but this is not doable in longterm aspect.

For example, old PullRequest can be reopened and updated, and *MI* has to catch this behaviour as well. In order to

[2021-07-15 17:59] xtuchyna opened #436 "Handle API limit at the beginning of run"
**Is your feature request related to a problem? Please describe.**
`MI` is not able to gather data whenever the API limit is reached at the very beginning of launching the application.

**Describe the solution you'd like**
Add a check for API limit at the start. If exceeded, sleep the same exact way as is done in `iterator` module.

**LOGS**
Found out this in a recently launched data workflow. You

[2021-07-16 04:42] sesheta commented on #339
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 04:42] sesheta commented on #373
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 04:42] sesheta commented on #131
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 04:42] #131 closed

[2021-07-16 04:42] #373 closed

[2021-07-16 04:42] #339 closed

[2021-07-16 04:42] sesheta commented on #131
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/131#issuecomment-881172454):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-07-16 04:42] sesheta commented on #373
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/373#issuecomment-881172452):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-07-16 04:42] sesheta commented on #339
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/339#issuecomment-881172451):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-07-16 05:03] sesheta commented on #311
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:03] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:03] sesheta commented on #321
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:03] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:41] goern commented on #434
/assign @xtuchyna
/priority important-soon

[2021-07-16 05:41] goern commented on #435
/priority important-soon

[2021-07-16 05:41] goern commented on #432
/assign @xtuchyna
/priority important-soon

[2021-07-16 05:41] goern commented on #433
/assign @xtuchyna
/priority important-soon

[2021-07-16 08:17] goern commented on #313
/remove-lifecycle rotten

[2021-07-16 12:38] goern commented on #133
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-21 11:35] #436 closed

[2021-07-21 12:24] xtuchyna opened #438 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-22 12:41] xtuchyna commented on #433
Not reproducible. Closing

[2021-07-22 12:41] #433 closed

[2021-07-22 13:52] #438 closed

[2021-07-22 13:53] xtuchyna opened #440 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-22 14:11] #440 closed

[2021-07-23 13:07] xtuchyna opened #443 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-27 10:45] #443 closed

[2021-07-27 10:45] xtuchyna opened #444 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-27 10:46] xtuchyna commented on #443
Closed this due to inactivity, second try to release here https://github.com/thoth-station/mi/issues/444

[2021-07-27 11:07] #444 closed

[2021-08-07 20:16] sesheta commented on #382
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-07 20:16] sesheta commented on #345
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-07 20:17] sesheta commented on #337
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #329
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #249
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #334
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #335
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #336
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #340
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #378
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] #337 closed

[2021-08-07 20:17] sesheta commented on #392
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:17] sesheta commented on #426
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 20:18] #249 closed

[2021-08-07 20:18] #329 closed

[2021-08-07 20:18] #334 closed

[2021-08-07 20:18] #335 closed

[2021-08-07 20:18] #336 closed

[2021-08-07 20:18] sesheta commented on #337
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/337#issuecomment-894702574):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #249
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/249#issuecomment-894702578):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #329
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/329#issuecomment-894702576):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #334
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/334#issuecomment-894702579):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #335
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/335#issuecomment-894702581):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #336
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/336#issuecomment-894702580):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] #426 closed

[2021-08-07 20:18] sesheta commented on #340
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/340#issuecomment-894702583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] #340 closed

[2021-08-07 20:18] sesheta commented on #378
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/378#issuecomment-894702584):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] #392 closed

[2021-08-07 20:18] sesheta commented on #426
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/426#issuecomment-894702589):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-07 20:18] sesheta commented on #392
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/392#issuecomment-894702585):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-13 08:08] goern commented on #420
what is the status of this issue?

[2021-08-24 02:42] sesheta commented on #422
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #311
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #311
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:42] sesheta commented on #321
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #322
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:42] sesheta commented on #324
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:42] sesheta commented on #434
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #321
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:42] sesheta commented on #432
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:42] sesheta commented on #435
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 08:43] sesheta commented on #434
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:43] sesheta commented on #432
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:43] sesheta commented on #435
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 08:43] #321 closed

[2021-08-24 08:43] #324 closed

[2021-08-24 08:43] #432 closed

[2021-08-24 08:43] sesheta commented on #311
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/311#issuecomment-904446138):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] #434 closed

[2021-08-24 08:43] sesheta commented on #321
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/321#issuecomment-904446160):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] sesheta commented on #322
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/322#issuecomment-904446152):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] sesheta commented on #324
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/324#issuecomment-904446142):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] sesheta commented on #432
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/432#issuecomment-904446197):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] sesheta commented on #435
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/435#issuecomment-904446185):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 08:43] sesheta commented on #434
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/434#issuecomment-904446182):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 09:22] goern commented on #322
/remove-lifecycle rotten

[2021-08-24 11:42] sesheta commented on #326
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:42] sesheta commented on #313
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:43] #313 closed

[2021-08-24 11:43] sesheta commented on #326
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/326#issuecomment-904564995):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 11:43] sesheta commented on #313
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/313#issuecomment-904565011):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-24 20:43] sesheta commented on #133
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #133
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/133#issuecomment-904960583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-08-26 14:49] xtuchyna opened #447 "Check GH API limit all the time"
**Describe the bug**
If GH error happens anywhere during the analysis, try to wait and re-try the whole process

**Additional context**
`mi` workflows still sometimes fails, so this has to be addressed (checkout LOGS)

**LOGS**
[code]

/kind bug

[2021-08-31 08:59] goern commented on #447
/priority backlog

[2021-09-03 10:55] xtuchyna commented on #432
Could not be reproducible anymore. Leaving it closed

[2021-09-03 10:56] xtuchyna commented on #434
Status: already merged by the referenced PR

[2021-09-03 11:31] xtuchyna commented on #378
This issue is in close relationship with #447
Reopening

[2021-09-03 13:48] xtuchyna commented on #326
/remove-lifecycle rotten
/priority-important longterm

[2021-09-03 13:48] sesheta commented on #326
@xtuchyna: The label(s) `priority/longterm` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/326#issuecomment-912554043):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2021-09-06 20:22] sesheta commented on #382
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-06 20:22] sesheta commented on #345
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #420
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] #420 closed

[2021-09-12 08:24] sesheta commented on #420
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/420#issuecomment-917588352):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-09-14 13:58] #435 closed

[2021-09-14 18:27] oindrillac opened #451 "Can MI Project also get Github Traffic related info from repos?"
For https://github.com/aicoe-aiops/ocp-ci-analysis/issues/382, we need to extract [traffic related information](https://docs.github.com/en/repositories/viewing-activity-and-data-for-your-repository/viewing-traffic-to-a-repository) for the [ocp-ci](https://github.com/aicoe-aiops/ocp-ci-analysis) repository. We need to extract and store them on a recurring basis as traffic info only persists on gith

[2021-09-15 21:29] xtuchyna commented on #451
Yes, mi can do that for you. Lemme create a PR for you to give you data example
Maybe you would be interested in `Events`  https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types too

[2021-09-16 17:04] xtuchyna commented on #451
Btw @oindrillac I would need GH token from your side that is going to have push access to `ocp-ci-analysis`.
Traffic information cannot be accessed without it

[2021-09-16 17:04] xtuchyna commented on #451
/kind feature

[2021-09-16 17:18] oindrillac commented on #451
thanks for setting this up for us @xtuchyna. what kind of a token do you need? Is it a personal access token? or can we use deploy keys? https://docs.github.com/en/developers/overview/managing-deploy-keys#deploy-keys

cc: @michaelclifford

[2021-09-16 17:20] oindrillac commented on #451
Yes, Events seem valuable to us. We are definitely interested in Forks and Stars which I think Events will capture.

[2021-09-16 18:46] oindrillac commented on #451
cc: @hemaveeradhi @aakankshaduggal

[2021-09-21 11:21] xtuchyna commented on #451
Personal access token

[2021-09-21 15:15] xtuchyna commented on #326
Sorry for my memory, but what was the test repository (I think we have one on GH) you suggested for using in tests @goern ?

[2021-09-21 17:56] MichaelClifford commented on #451
@xtuchyna

1) Do any of the bots have existing access tokens that can be used? for example Sesheta?
2)  If not, how would you like us to share the access token?
3) We could also make you a member of the project repo if that would be easier

WDYT?

[2021-09-21 18:24] oindrillac commented on #451
cc'ing @harshad16 since there was some discussion on personal access tokens, deploy keys here https://github.com/aicoe-aiops/vulnerability-analysis/issues/62

[2021-09-23 05:30] sesheta commented on #422
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #422
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] sesheta commented on #422
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/422#issuecomment-925517058):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-09-23 13:48] xtuchyna commented on #422
/remove-lifecycle rotten

[2021-09-23 14:30] sesheta commented on #322
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #322
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/322#issuecomment-925870736):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-09-30 11:32] sesheta commented on #447
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #447
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] #447 closed

[2021-09-30 11:32] sesheta commented on #447
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/447#issuecomment-931238483):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-10-01 20:50] aakankshaduggal commented on #451
@xtuchyna

**Collecting GitHub Traffic Data**

We have tried out https://github.com/gomesfernanda/some-github-metrics.git for collecting some metrics for the existing data(past 14 days)
As of now, we have the following metric data for all `aicoe-aiops` repositories :
* Git clones per day and unique git clone per day
* Code frequency - Weekly additions, deletions, commits, author, is-a member
* Com

[2021-10-03 11:32] sesheta commented on #133
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 11:32] sesheta commented on #133
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 11:32] sesheta commented on #378
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-03 11:32] sesheta commented on #378
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-03 11:32] sesheta commented on #378
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/378#issuecomment-932932391):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-10-03 11:32] #378 closed

[2021-10-03 11:32] sesheta commented on #133
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/133#issuecomment-932932390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-10-05 07:35] #451 closed

[2021-10-06 20:33] sesheta commented on #382
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-06 20:33] sesheta commented on #345
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/345#issuecomment-937079459):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-10-06 20:33] sesheta commented on #382
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/382#issuecomment-937079439):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-10-08 11:33] codificat commented on #326
Removing inconsistent (duplicate and conflicting) labels, leaving the latest that were added:

/remove-priority backlog
/remove-kind question

[2021-10-19 13:59] xtuchyna commented on #451
Hello ppl, data is ready to be updated daily on your cluster.
Please, have a look at
[code]

[2021-10-19 14:51] xtuchyna opened #475 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-20 19:22] hemajv opened #477 "Can we fetch all GitHub repos information using MI scheduler"
As part of Project San Diego, we are trying to figure out what tool would be best suited to fetch and generate a list of all GitHub open source projects via the license file and other license related distinctions.
(_Related issue_: https://github.com/sandiego-rh/sandiego/issues/80)

One of the options we were considering was to use [GraphQL](https://docs.github.com/en/graphql) and were interested

[2021-10-20 19:31] hemajv commented on #477
For example, GraphQL has a `licenses` query which returns a list of all open source licenses: https://docs.github.com/en/graphql/reference/queries#license, and we are interested to see if we can use this to fetch the associated repo names as well

[2021-11-02 20:41] hemajv opened #483 "Can we fetch issues and their linked issues?"
We are looking to fetch information related to issues and all other issues linked in them. (Related issue: https://github.com/AICoE/okr/issues/8)

For example, we would like to collect all the issues in the [OKR repo](https://github.com/AICoE/okr) and fetch all their linked KR issues and aggregate metrics such as percentage of KRs completed (i.e. percentage of items completed in the acceptance cri

[2021-11-08 12:59] goern commented on #477
/assign @xtuchyna

[2021-11-08 19:20] hemajv commented on #483
Some fields we would like to capture:

- [ ] Issue title
- [ ] Issue description
- [ ] Issue checklist/acceptance criteria
- [ ] Issue labels
- [ ] Issue assignee

@xtuchyna

[2021-11-09 15:41] xtuchyna commented on #477
Status:

I have found out that Search API only provides searching for the first `1,000` results, which is limitating for the original goal of the Issue (that is to extract all of the repos given licenses).

Therefore, the Search API does not solve the problem, and we have to look into other possibilities (GraphQL, BigQuery, and there is also https://sourcegraph.com/ )

[2021-11-11 11:58] codificat commented on #483
/kind question
(although this will likely turn into `/kind feature` I guess)

/assign @xtuchyna
can you help clarify?

/triage needs-information

[2021-11-15 14:35] hemajv commented on #483
@xtuchyna do we have any updates on this?

[2021-11-16 16:01] xtuchyna opened #489 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-18 11:23] #489 closed

[2021-11-18 11:24] xtuchyna opened #490 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-18 11:24] xtuchyna commented on #490
Opening because of https://github.com/thoth-station/mi/issues/489

[2021-11-18 11:39] #490 closed

[2021-11-18 11:48] xtuchyna opened #492 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-18 11:49] xtuchyna commented on #492
Trying to use different release, #490 does not work

[2021-11-19 03:26] #492 closed

[2021-11-23 15:02] codificat commented on #133
/priority important-longterm
/remove-priority awaiting-more-evidence

[2021-11-23 15:10] codificat commented on #422
/assign @xtuchyna
/priority important-soon
/remove-priority backlog

[2021-11-23 17:16] xtuchyna opened #496 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.10.1

[2021-11-23 17:32] sesheta commented on #496
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.10.1](https://quay.io/thoth-station/mi:v2.10.1)

[2021-11-23 17:32] #496 closed

[2021-12-09 12:25] xtuchyna opened #499 "Read timeout"
**Describe the bug**
kebechet-analyse workflow, Issue entity

**LOGS**
[code]

/kind bug

[2022-01-06 09:23] sesheta commented on #345
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-06 12:23] sesheta commented on #326
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-11 20:23] goern commented on #345
/remove-lifecycle stale

[2022-01-14 12:30] goern commented on #499
/kind flake
/close

[2022-01-14 12:30] sesheta commented on #499
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/499#issuecomment-1013078187):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](ht

[2022-01-14 12:30] #499 closed

[2022-01-14 13:45] goern commented on #483
ping

[2022-01-20 20:54] oindrillac opened #504 "Unable to collect Issues from repository"
**Describe the bug**
Unable to collect Issues from repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup personal access token as env variable
2. Run `python -m srcopsmetrics.cli --create-knowledge --is-local --repository openshift/origin --entities Issue`
3. See error

[code]
**Expected behavior**
Should fetch Issues for openshift/origin repo

cc: @chauhankaranraj

[2022-01-28 13:07] xtuchyna opened #506 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-01-28 13:23] #506 closed

[2022-01-28 13:25] xtuchyna opened #509 "Entities not recognized"
**Describe the bug**
When trying to run `srcopsmetrics` in external project, following error happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `v2.10.0` of `mi`

**LOGS**

[code]
/kind bug

[2022-01-28 13:25] xtuchyna commented on #509
Tried to update latest `mi` tag to not contain `kebechet` prefix here #508

[2022-01-28 13:30] xtuchyna commented on #504
Hello @oindrillac, thanks for feedback!

`GITHUB_ACCESS_TOKEN` must be specified as an environment variable. This was somehow lost in documentation as I see now...

[2022-02-01 14:13] xtuchyna opened #510 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.10.2

[2022-02-01 14:17] sesheta commented on #510
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.10.2](https://quay.io/thoth-station/mi:v2.10.2)

[2022-02-01 14:31] harshad16 opened #511 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v2.10.2

[2022-02-01 14:32] xtuchyna opened #513 "MI not being updated on PyPI"
**Describe the bug**
There are newer releases available, but on PyPI the version is stuck at 2.10.0
https://pypi.org/project/srcopsmetrics/

[2022-02-01 14:32] sesheta commented on #511
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/srcopsmetrics](https://pypi.org/project/srcopsmetrics)

[2022-02-01 14:32] #513 closed

[2022-02-02 15:56] chauhankaranraj commented on #504
Thanks @xtuchyna, so actually we were able to figure that bit out, and we set the `GITHUB_ACCESS_TOKEN` env var to our github personal access token. With this, we were able to get PullRequest data (first screenshot), but not Issues data (second screenshot).

![Screenshot from 2022-02-02 18-23-00](https://user-images.githubusercontent.com/15005500/152188677-98387cf4-77cd-4063-8acc-41c30b0a8d3e.png)

[2022-02-05 12:26] sesheta commented on #326
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-06 15:27] sesheta commented on #451
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 09:04] goern commented on #326
/remove-lifecycle rotten

[2022-02-07 09:38] pacospace commented on #451
public bucket in Operate First is documented here: https://github.com/operate-first/apps/pull/1273/files, remember that the size of that bucket is fixed

[2022-02-07 18:27] sesheta commented on #477
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 15:33] xtuchyna commented on #504
@chauhankaranraj what version of `mi` are you using?
also, do you use the token for anything else, or is it your private personal token?

[2022-02-08 15:52] xtuchyna opened #515 "Think about cli option to set github access token pernamently"
Something similar to `git config`, so that the users do not have to set envvar or call `srcopsmetrics` with variable everytime they need to
[code]

/kind feature

[2022-02-08 21:23] oindrillac commented on #504
@xtuchyna I was running this on the `2.0.1` version of srcopsmetrics.

Also I was using a personal access token that I had created  just for this use case.

[2022-02-09 12:23] xtuchyna commented on #504
Hey @oindrillac, please update `mi` to the newest version `2.10.2`, the `2.0.1` is nearly two years old and there can be a lot of issues

[2022-02-09 13:56] xtuchyna opened #518 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-09 14:33] #518 closed

[2022-02-09 18:45] oindrillac commented on #504
Updated srcopsmetrics to `2.10.2` and I get the same error with both `PullRequest` and `Issue` entity

[code]
@chauhankaranraj do you see the same log on this version of srcopsmetrics?

[2022-02-10 11:26] xtuchyna opened #520 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v2.10.3

[2022-02-10 11:32] xtuchyna commented on #504
Patch is on the way, just waiting it to be delivered onto PyPI https://github.com/thoth-station/mi/issues/520

[2022-02-10 13:40] xtuchyna opened #522 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.10.3

**IMPORTANT NOTES**

- _If the tag exists and [AICoE CI GitHub App](https://github.com/apps/aicoe-ci) is installed, this issue will retrigger the pipeline to build from tag and push image container image. It should be used if the pipeline triggered with the {major|minor|patch} release failed for any reason._

[2022-02-10 14:50] oindrillac commented on #504
thanks @xtuchyna

[2022-02-11 14:26] harshad16 commented on #520
This line seems to be the culprit
https://github.com/thoth-station/mi/blob/854e6292131cda7b635e40daa50ee88bdface94a/setup.py#L62

seems like rendering the utf-8 might be causing issue
https://github.com/thoth-station/mi/blob/854e6292131cda7b635e40daa50ee88bdface94a/setup.py#L54

[2022-02-11 14:27] harshad16 opened #523 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v2.10.3

[2022-02-11 14:31] sesheta commented on #523
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/mi:v2.10.3](https://quay.io/thoth-station/mi:v2.10.3)

[2022-02-11 14:36] harshad16 commented on #522
This image is building with original issue template
https://github.com/thoth-station/mi/issues/523

The extra note in the issue is causing the trouble, will update the pipeline to cater to these needs.

[2022-02-11 14:36] #522 closed

[2022-02-15 12:45] #520 closed

[2022-02-15 12:49] xtuchyna opened #526 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-02-15 13:03] #526 closed

[2022-02-15 13:05] xtuchyna opened #529 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

v2.10.4

**IMPORTANT NOTES**

- _If the tag exists and [AICoE CI GitHub App](https://github.com/apps/aicoe-ci) is installed, this issue will retrigger the pipeline to build from tag and push image container image. It should be used if the pipeline triggered with the {major|minor|patch} release failed for any reason._

[2022-02-15 13:19] xtuchyna commented on #504
Okay @oindrillac , patch delivered (sadly we experienced some minor deployment issues that delayed it)
please update to `2.10.4` and let me know if the issue persists

[2022-02-15 13:19] xtuchyna commented on #509
Fixed in https://github.com/thoth-station/mi/pull/517

[2022-02-15 13:19] #509 closed

[2022-02-15 15:14] hemajv opened #530 "Schedule and fetch Github data for OSG org and other repos"
We would like to use the MI scheduler to schedule daily collection of GitHub data for the OSG org as well as other sub-project repos under different SIGs mentioned in https://github.com/open-services-group/community/blob/main/sigs.yaml and have them stored, to start tracking and capturing metrics.

Related to https://github.com/open-services-group/metrics/issues/13

The data we would like:

- [ ]

[2022-02-16 09:49] goern commented on #504
/kind bug
/priority critical-urgent
/assign @xtuchyna

[2022-02-16 14:42] xtuchyna opened #532 "Logger not working correctly `Data from file %s loaded`"
## Bug description
Related to #504
Specifically https://github.com/thoth-station/mi/issues/504#issuecomment-1040417007

/kind bug

[2022-02-16 14:53] xtuchyna opened #533 "Issues initialization is taking too long (perhaps stuck)"
## Bug description
When collecting Issues for big repositories, it seems that initialization step takes too long (and maybe it is even stuck)

### Steps to Reproduce
Steps to reproduce the behavior:
1. `python -m srcopsmetrics.cli -clr openshift/origin --entities Issue`
2. See pending state

### Actual behavior
The initial steps should not take too long

### Expected behavior
the aggregation proce

[2022-02-16 18:06] oindrillac commented on #504
Just wanted to update here, that fetching the issues seems to be working for smaller repos. I was able to download issues for the `open-services-group/metrics` repo. So this above issue on the `openshift/origin` repository seems something to do with the large size of the repository

![image](https://user-images.githubusercontent.com/32435206/154327914-f4537fc8-ef84-4378-82e2-022d5a3be7a7.png)

[2022-02-17 09:39] goern commented on #530
/priority critical-urgent
/assign @xtuchyna
/triage accepted

[2022-02-21 16:07] sesheta commented on #133
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 16:07] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 20:27] Shreyanand opened #536 "Bugs in the Metrics class"
We tried using the Metrics class from srcopsmetrics.metrics package and were not able to use the code.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Smaug JH instance or JH notebook from your local machine
2. export Githhub access token or use .env file to ge it in the environment
3. Create a Metrics class object and call process_pull_requests() function
4. See error

![Screens

[2022-02-24 17:32] hemajv opened #539 "Unable to load github data locally"
We tried to use the MI module within jupyter notebooks to fetch/load the GitHub data locally, but we ran into some issues:

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to Smaug JH instance or JH notebook from your local machine
2. Import latest `srcopsmetrics` package, `v2.10.4`
3. Import `entities.PullRequest` to load PR data
4. See error

![Screenshot from 2022-02-24 12-28-59](

[2022-02-24 17:41] hemajv opened #540 "Enable MI tool to fetch all default fields for GitHub issue/PR data"
## Problem statement
We are trying to fetch GitHub issue/PR data for various repositories to do some analysis and metric calculation. We have used the MI CLI to download and store this data to Ceph. However, upon inspecting the data we see that there are a limited set of fields/columns being populated. For eg: there was no `assignee` column in the issues data. We would like to see all the default

[2022-02-25 08:48] xtuchyna commented on #311
Reopening, this issue still prevails in https://github.com/thoth-station/mi/issues/539

[2022-02-25 11:04] #311 closed

[2022-02-25 11:06] xtuchyna opened #542 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-02-25 11:48] #542 closed

[2022-02-25 14:38] xtuchyna commented on #539
Hello @hemajv , please try the patched `v2.10.5`

[2022-02-25 17:03] xtuchyna opened #544 "Set up GH token with cli or by using module function"
## Bug description
Right now, the GH token has to be setup _before_ importing any of the `srcopsmetrics` module. This behaviour is not desired and is considered a bug.

### Expected behavior
Setting up the GitHub token should change the `srcopsmetrics` behaviour immidiately anytime (and not just only before importing the module)

### Additional context
Bug found within #539

[2022-02-25 18:04] #540 closed

[2022-02-25 18:06] xtuchyna opened #548 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-02-25 18:39] #548 closed

[2022-02-25 19:40] hemajv commented on #539
@xtuchyna the issue now seems to be resolved :tada: Thanks for fixing this quickly!

[2022-03-01 09:48] xtuchyna commented on #504
Hey @oindrillac , sorry for stale issue. This should be fixed by https://github.com/thoth-station/mi/pull/547
Also, there's new entity called `RawIssue` and `RawPullRequest` that can be tried (it is basically a non-restrictive data aggregation of such entities)

[2022-03-01 10:19] xtuchyna commented on #539
thanks @hemajv , feel free to close the issue :)

[2022-03-02 17:22] #539 closed

[2022-03-02 17:22] #529 closed

[2022-03-04 07:27] goern commented on #536
/priority critical-urgent
/assign @xtuchyna
/triage accepted

[2022-03-08 16:35] xtuchyna commented on #504
Hello @oindrillac , did the patch work?

[2022-03-08 16:36] xtuchyna commented on #530
Hello @hemajv , is this still relevant?

[2022-03-09 13:23] xtuchyna opened #551 "merge functionality not compatible with data, `RuntimeWarning: Mean of empty slice`"
## Bug description
When calling the `merge` functionality for `mi`'s gathered data, the resulting metrics are all 0s.

### LOGS
from workflow:
[code]

from datafile:
[code]

[2022-03-09 13:25] xtuchyna commented on #551
/assign @xtuchyna

[2022-03-09 20:26] sesheta commented on #477
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-15 13:50] xtuchyna opened #552 "thoth metrics `AssertionError: Repository(full_name="thoth-station/s2i-python-container")`"
## Bug description
When using `-t` option on `thoth-station/s2i-python-container` repo, `Assertion` error occurs

### Expected behavior
`AssertionError` should not occur within code

### LOGS
[code]

[2022-03-23 17:29] sesheta commented on #133
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-23 17:29] sesheta commented on #422
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-24 12:52] codificat commented on #515
/priority backlog
/triage accepted

[2022-03-24 13:06] codificat commented on #515
hmm... it seems prow is missing some notifications. Trying again:

/priority backlog
/triage accepted

[2022-03-24 16:12] hemajv opened #555 "Timestamps not accurately captured for issues/prs"
## Bug description
The timestamps for `created_at` and `closed_at` fields for Issues/PRs data collected using the `srcopsmetrics` module are not accurate.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Run `!python -m srcopsmetrics.cli -clr open-services-group/byon -e Issue,PullRequest`
2. Store as a df:
[code]
4. View the `created_at` and `closed_at` columns and see that it does not

[2022-03-30 09:25] xtuchyna commented on #555
/assign @xtuchyna

[2022-03-30 10:36] xtuchyna commented on #555
Hey @hemajv , cannot reproduce the issue
[code]

What specific `Issue` did you import?
Was it `from srcopsmetrics.entities.issue import Issue` or `from srcopsmetrics.entities.raw_issue import RawIssue` ?

[2022-04-01 14:18] hemajv commented on #555
@xtuchyna I used `from srcopsmetrics.entities.issue import Issue`, I think its a data format issue with Superset. Perhaps, we need to convert it to a timestamp format supported in superset

[2022-04-01 16:23] hemajv commented on #555
@xtuchyna okay so I deleted the `srcopmetrics` folder that gets created and re-ran it. The dates are correct now :tada: Perhaps the `srcopmetrics` folder wasn't getting updated with the new data and hence I was seeing the old values.

[2022-04-04 10:16] goern commented on #552
is this still relevant?

[2022-04-04 10:16] goern commented on #551
is this active?

[2022-04-04 10:17] goern commented on #555
what is the status of this?

[2022-04-04 13:48] hemajv commented on #555
we can close this out! its now resolved :+1:

[2022-04-04 13:48] #555 closed

[2022-04-08 23:07] sesheta commented on #477
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 23:07] sesheta commented on #477
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/477#issuecomment-1093455341):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-04-08 23:07] #477 closed

[2022-04-11 22:11] sesheta commented on #345
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-12 11:53] xtuchyna opened #560 "Kebechet managers metrics"
## Is this related to another Issue?
Related to https://github.com/thoth-station/core/issues/322
The issue required to be split and refined - some of the metrics were too abstract and needed specification, other metrics may be not valuable or necessary.
Also, some potential metrics that could bring value were added.

## Problem statement

1. As a potential future user of Kebechet,
I would like to

[2022-04-13 12:27] Gkrumbach07 commented on #560
/sig user-experience

[2022-04-13 12:41] Gkrumbach07 commented on #560
The user should be able to check the status of their manager through a central support page. There may be no way to tell the user at the base of the issue.

Depending on the functionally of Kebechet we want to highlight, comparisons might be hard to measure. I.e. Time to create a tag release without Kebechet cant really be measured automatically. In UX design, number of clicks or actions to prefor

[2022-04-14 16:12] sesheta commented on #483
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 17:13] harshad16 commented on #483
/lifecycle frozen

[2022-04-22 20:09] sesheta commented on #133
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-22 20:09] #133 closed

[2022-04-22 20:09] sesheta commented on #422
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-22 20:09] sesheta commented on #133
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/133#issuecomment-1106823164):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-04-22 20:09] sesheta commented on #422
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/422#issuecomment-1106823191):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-04-22 20:09] #422 closed

[2022-05-08 10:14] sesheta commented on #326
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-08 10:14] sesheta commented on #451
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-11 23:34] sesheta commented on #345
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-16 10:09] goern commented on #552
/priority backlog

[2022-05-23 12:43] xtuchyna opened #569 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-05-25 10:20] xtuchyna opened #572 "Implement Kebechet Managers SLO/SLI metrics"
## Problem statement
Related to #560  (section Managers SLO/SLI)

As a maintainer,
I would like to have a look at dashboard with all Kebechet metrics

so that I can see which managers are used and performing well, which needs attention (slow responding time, critical number of rejected requests, and etc.) and which managers are not used (so even if they need attention, they can be of a low-priorit

[2022-06-02 13:07] sesheta commented on #532
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 13:07] sesheta commented on #536
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-06 19:00] sesheta commented on #504
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-07 12:47] sesheta commented on #451
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-07 16:00] sesheta commented on #544
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 15:25] suppathak opened #575 "Tracking comments for an issue"
## Problem statement
Tracking comments for an issue : First response time, Number of collaborator's commenting, first comment, etc

## High-level Goals
In order to build a community around thoth guidance service. I want to get an idea about community by visualizing metrics like mean first response time for an issue, contributors to an issue, etc for [thoth-station support](https://github.com/thoth

[2022-06-11 00:40] sesheta commented on #345
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-11 00:40] #345 closed

[2022-06-11 00:40] sesheta commented on #345
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/345#issuecomment-1152817922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-06-15 12:15] xtuchyna opened #577 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a minor release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-06-15 13:22] #577 closed

[2022-06-15 14:08] xtuchyna opened #581 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-06-15 15:05] #581 closed

[2022-06-15 20:15] suppathak commented on #575
Thank you @xtuchyna . I think it will be sufficient for the scope of the project.

closing this issue now.

/close

[2022-06-15 20:15] sesheta commented on #575
@suppathak: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/575#issuecomment-1156888473):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-06-15 20:15] #575 closed

[2022-06-15 20:16] khebhut[bot] opened #583 "Failed to update dependencies to their latest version for ubi8 environment"
Automatic dependency update failed for the current master with SHA 371c2484ec9c7889b3140406c359e25b4b49f81f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2022-06-15 20:17] khebhut[bot] opened #584 "Failed to update dependencies to their latest version for ubi8 environment"
Automatic dependency update failed for the current master with SHA 371c2484ec9c7889b3140406c359e25b4b49f81f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2022-06-15 20:17] khebhut[bot] opened #585 "Failed to update dependencies to their latest version for ubi8 environment"
Automatic dependency update failed for the current master with SHA 371c2484ec9c7889b3140406c359e25b4b49f81f.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2022-06-22 12:10] #585 closed

[2022-06-22 12:17] #584 closed

[2022-06-22 16:02] sesheta commented on #515
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 08:28] goern commented on #583
/assign @shreekarSS
/assign @mayaCostantini

[2022-06-23 11:20] xtuchyna commented on #583
This should be resolved by the cross-referencing PR, closing the Issue

[2022-06-23 12:28] xtuchyna opened #588 "When waiting for GitHub API, periodically refresh timer"
## Problem statement
Currently, the user is not incrementally informed about the GH API refresh time. This can lead user to more likely interrupt the data extraction process, which is not desired.

## Proposal description

Refresh timer either each second, or each minute.

## Acceptance Criteria
- [ ] drain the GH API and see if the waiting the is being refreshed
- [ ] test if after interruption t

[2022-06-23 15:05] suppathak opened #589 "Tracking comments for an issue : Issue Assignees, Linked Project board Info."
## Problem statement
Tracking comments for an issue : Issue Assignees, Linked Project board info.

## High-level Goals
In order to build a community around thoth guidance service. I want to get an idea about community by visualizing metrics like number of assignees, if the issue is linked to any project board or not, etc for [thoth-station support](https://github.com/thoth-station/support) repo.

[2022-06-24 15:58] xtuchyna commented on #560
/assign @xtuchyna

[2022-06-24 16:06] xtuchyna commented on #589
Hello @suppathak , thanks for creating Issue!

PR is on the way, it could also help if you could specify ` Linked project board info.` in more detail. I suppose you want these metadata:
- project url
- column name

Is there something else that should be included? Use [project metadata](https://docs.github.com/en/rest/projects/projects#get-a-project) as a reference and please let us know! :)

[2022-06-24 16:11] suppathak commented on #589
Hey @xtuchyna ,

Yes I want these two metadata related to the project board linked to issue. Thanks :)

[2022-06-28 12:07] xtuchyna commented on #589
Hey @suppathak , for which repositories are you going to extract the project-related information? Is it just `thoth-station` ?

[2022-06-28 12:10] suppathak commented on #589
Hey @xtuchyna. Yes! I am planning to extract these metrics for `thoth-station/support` repo.
Thanks!

[2022-07-01 12:51] xtuchyna commented on #589
Hey @suppathak , project event details cannot be still retrieved, even after enabling projects thru thoth-station/core
That means you won't be able to use the feature on thoth-station/support and also that I cannot test the feature in #591
Please stay tuned in https://github.com/thoth-station/core/issues/419 to see updates on this matter

[2022-07-02 15:50] sesheta commented on #532
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-02 15:50] sesheta commented on #536
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-06 21:50] sesheta commented on #504
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-06 21:50] sesheta commented on #530
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-07 15:42] sesheta commented on #326
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-07 15:42] sesheta commented on #451
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-07 15:42] #326 closed

[2022-07-07 15:42] sesheta commented on #326
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/326#issuecomment-1177817283):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-07-15 17:20] oindrillac opened #593 "Can API rate limit be increased for upcoming workshop?"
We have an upcoming [AIOps on Operate First workshop](https://github.com/aicoe-aiops/ocp-ci-analysis/issues/529) in which we plan to have attendees use the srcopsmetrics tool to collect pullrequests data with their individual access tokens
Multiple requests give `INFO:srcopsmetrics.github_handling:API rate limit REACHED, will now wait for 30 minutes`. Is it possible to increase API rate limit for

[2022-07-15 17:34] #593 closed

[2022-07-22 10:38] xtuchyna opened #598 "Use dataframe handling for update manager issue requests"
## Bug description
Related to https://github.com/thoth-station/mi/blob/85b52496245d1e5a62aeeccd0a2c4c24fd563135/srcopsmetrics/kebechet_metrics.py#L145

## Solution
Kebechet metrics works with dataframes and not dictionaries anymore. Refactor the code

[2022-07-22 11:18] xtuchyna opened #599 "Add first_response field and fix first_response_at"
## Bug description
Related to https://github.com/thoth-station/mi/blob/85b52496245d1e5a62aeeccd0a2c4c24fd563135/srcopsmetrics/entities/issue.py#L87

The min function returns whole dictionary instead of timestamp

## Solution
Fix first_response_at and add first_response field for more additional metadata.
Although redundant, this is handy for the user who only focuses on first response times and no

[2022-07-22 12:17] xtuchyna opened #600 "`Entity " Issue" not recognised` error when passing -e Issue"
## Bug description
SSIA

Probably related to https://github.com/thoth-station/mi/blob/85b52496245d1e5a62aeeccd0a2c4c24fd563135/srcopsmetrics/cli.py#L40
because additional `.strip()` may have to be provided.

[2022-07-22 18:51] sesheta commented on #515
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-26 05:40] goern commented on #589
/sig user-experience
/kind feature

[2022-07-26 07:58] goern commented on #572
@xtuchyna ping

[2022-07-26 07:59] goern commented on #588
/sig user-experience

[2022-07-26 07:59] goern commented on #599
/sig user-experience

[2022-07-26 07:59] goern commented on #598
/sig user-experience

[2022-07-26 07:59] goern commented on #600
/sig user-experience

[2022-07-26 10:10] xtuchyna commented on #572
@goern have a look at https://github.com/thoth-station/mi/pull/574#issuecomment-1190324481 :)

[2022-08-01 13:16] xtuchyna commented on #572
@goern @Gkrumbach07 so currently the update advise and version managers are implemented (look at PR to see data files example). I suggest splitting the Issue so we can track the features better. WDYT?

[2022-08-01 18:44] sesheta commented on #532
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 18:44] sesheta commented on #536
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 18:44] #532 closed

[2022-08-01 18:44] #536 closed

[2022-08-01 18:44] sesheta commented on #532
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/532#issuecomment-1201576231):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-01 18:44] sesheta commented on #536
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/536#issuecomment-1201576253):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-06 00:45] sesheta commented on #504
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-06 00:45] sesheta commented on #530
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-06 00:45] #504 closed

[2022-08-06 00:45] sesheta commented on #504
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/504#issuecomment-1207108694):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-06 00:45] #530 closed

[2022-08-06 00:45] sesheta commented on #530
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/530#issuecomment-1207108695):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-06 21:45] sesheta commented on #544
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-06 21:45] sesheta commented on #544
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/544#issuecomment-1207287157):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-06 21:45] #544 closed

[2022-08-08 09:49] goern commented on #572
@xtuchyna ja, pls go ahead and split this issue

[2022-08-11 13:54] xtuchyna commented on #600
Fixed in https://github.com/thoth-station/mi/pull/574

[2022-08-11 13:54] #600 closed

[2022-08-11 13:55] xtuchyna commented on #599
Fixed in https://github.com/thoth-station/mi/pull/574

[2022-08-11 13:55] #599 closed

[2022-08-11 13:55] xtuchyna commented on #598
Fixed in https://github.com/thoth-station/mi/pull/574

[2022-08-11 13:55] #598 closed

[2022-08-11 13:57] xtuchyna commented on #589
So, in the end, there seems to be no way we can get this information by interacting with GH API (https://github.com/thoth-station/srcops-testing/issues/269 and other tests)

If we are still interested in this meta-information, it could be still scraped from web. WDYT @suppathak

[2022-08-12 10:46] xtuchyna opened #603 "Store SLI/SLO related metrics on ceph, specific location {namespace-name}/thoth-sli-metrics/"
## Problem statement
Related to #572 (original issue splitted)

## Acceptance criteria

For SLI/SLO metrics and usage indicators
- [ ] Check if the `mi-scheduler` kebechet repositories data aggregation cronjob is still up
- [ ] Delete old mi data and create new one with the cronjob
- [ ] Check the kebechet analysis (kebechet metrics aggregation) cronjob in `mi-scheduler`, for each repo a standalon

[2022-08-12 10:52] xtuchyna opened #604 "Extend SLI/SLO metrics for other managers"
## Problem statement
Related to #572 (the original issue was splitted)

## High-level Goals
Get metrics coverage for all of the services Kebechet bot provides

## Proposal description
Extend metrics for all of the _relevant_ Kebechet managers that are reasonable to inspect (are being actively used)

## Acceptance Criteria

- [ ] Decide if any of the managers should be omitted

Extend SLI/SLO metri

[2022-08-15 16:06] sesheta commented on #551
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-17 11:56] goern commented on #604
/sig user-experience

[2022-08-17 11:56] goern commented on #572
/sig user-experience

[2022-08-21 21:47] sesheta commented on #515
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 21:47] sesheta commented on #515
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/mi/issues/515#issuecomment-1221626690):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-30 14:15] VannTen commented on #483
The [Github Graphql API for issues](https://docs.github.com/en/graphql/reference/objects#issue) does not appear to feature a list of linked issues, from what I can see (nor does the IssueComment). It does provide a list of trackedInIssues and trackedIssues, but not merely linked one.

[2022-08-31 10:57] VannTen commented on #589
It seems to me reading the documentation (in particular, issue events [added_to_project](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#added_to_project) and [removed_to_project](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#added_to_project)) that this should be possible unless I misunderstood the issue

[2022-09-14 19:02] sesheta commented on #551
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 12:11] KPostOffice commented on #588
Seems pretty straight forward. Should basically just wrap the code [here](https://github.com/thoth-station/mi/blob/b64ae33e246dcb97649e04b026a1c4fb05fbae49/srcopsmetrics/github_handling.py#L77) in a while loop right @xtuchyna ?

[2022-09-19 13:10] codificat commented on #552
/triage needs-information

[2022-10-04 03:40] harshad16 commented on #551
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-05 12:11] xtuchyna commented on #589
of course, but if you look at my comments including [this](https://github.com/thoth-station/srcops-testing/issues/265) test issue, I had no success of obtaining it (in the end custom header for these particular events did not return any of the project related events)

[2022-10-05 12:33] xtuchyna commented on #589
@VannTen once again tried to retrieve data, but this time with new token (that had project access enabled)
but still no success

you can read all the setup details here https://github.com/thoth-station/srcops-testing/issues/271

[2022-10-05 12:33] xtuchyna commented on #589
WDYT @goern is it still valuable to invest time in this?

[2022-10-05 12:46] xtuchyna commented on #551
I think that this functionality was kind of replaced with the new Kebechet SLI/SLO metrics features, so it can be closed

[2022-10-05 12:46] #551 closed

[2022-10-05 12:51] xtuchyna commented on #588
yes you are right @KPostOffice , this was sort of a todo reminder-ish issue so that we do not forget :)

[2022-10-12 18:47] xtuchyna commented on #589
STATUS update:
We had no success in retrieving the project related timeline events by using ordinary GH REST API (including Timeline events API). At the moment the deduction is that the newly created projects are only visible within the usage of GraphQL.

Therefore there remains one item left to try:

- [ ] check if we can retrieve Timeline project-related-events by GraphQL using newly created pro

[2022-10-12 18:48] xtuchyna opened #610 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a minor release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-10-12 18:49] xtuchyna commented on #515
/remove-lifecycle rotten

[2022-10-17 11:06] goern commented on #589
feels to me like we should push it to the backlog?

[2022-10-27 13:13] harshad16 commented on #552
/triage accepted

[2022-11-11 23:10] oindrillac opened #613 "Save data on S3 per PR or per Issue"
## Problem statement
Currently `srcopsmetrics` does not seem to save data onto S3 per Pull Request. Rather it seems to save an entire repository's data after a run completes. This can cause a lot of intermediate progress to get dumped if the run fails in between.
We are encountering this problem when using srcopsmetrics in a github action workflow which cancels long running jobs
https://github.com